<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common"/>
<body>
<div th:replace="fragments/header"/>
<div  th:if="${userCart == null}" class="alert alert-info m-5">
    <p>Cart is empty</p>
</div>
<div  th:if="${userCart == null && success != 'success'}" class="alert alert-secondary m-5" role="alert">
    <p>Time of order is over.</p>
</div>
<div  th:if="${success == 'success'}" class="alert alert-success m-5" role="alert">
    <p>Payment was successful.</p>
    <p>Thanks for buying tickets.</p>
</div>
<div class="ml-3" th:if="${order != null}">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
    </svg>
    Order: № <span th:text="${order.id_order}"></span>
<a th:href="@{|/cart/clear|}"> <img  id="ticket-pic-ord" src="picture/close.png"
                                                         alt="За стеклом"></a></div>
<div th:if="${userCart != null}">
    <hr style="margin-left: 20px">
    <list th:each="cart : ${userCart}">
        <list th:each="ticket : ${cart.ticket}">
            <img id="ticket-pic"
                 src="picture/ticket-svgrepo-com.svg"
                 alt="За стеклом">
            <a th:href="@{|/cart/delete/${ticket.id_ticket}|}"> <img id="ticket-close" src="picture/close.png"
                             alt="За стеклом"></a>
            <div id="card-list">
                <span>Row: </span><span th:text="${ticket.row}"></span>,
                <span> Place: </span><span th:text="${ticket.number}"></span>
                <br>
                <span th:text="${ticket.event.title}"></span>
                <br>
                <span th:text="${ticket.event.date}"></span>
                <span th:text="${ticket.event.place.title}"></span>
                <span th:text="${ticket.event.place.city.title}"></span>
                <br>
                <span> Price: </span><span th:text="${ticket.price}"></span>
                <hr>
            </div>
        </list>
    </list>
    <form th:if="${user.activationCode == null}" class="form-inline my-2 my-lg-0 ml-3" th:action="@{/cart/pay}" method="get">
        <button class="btn btn-success" type="submit">Pay for the order</button>
    </form>
   <div class="ml-3" th:unless="${user.activationCode == null}">
       <p class="text-danger">Your email not activate, please go to the email and activate it !!!</p>
    <form class="form-inline my-2 my-lg-0" th:action="@{/cart/pay}" method="get">
        <button class="btn btn-success" type="submit"  disabled>Pay for the order</button>
    </form>
   </div>
</div>
<div th:replace="fragments/footer"/>
</body>
</html>
