<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common"/>
<body>
<div th:replace="fragments/header"/>
<div class="text-center" th:text="${message}"></div>
<div id="asd" class="row row-cols-1  row-cols-md-2">
    <list th:each="event : ${events}">
        <div class="col mb-4">
            <div id="main-d" th:data-title="${' '+event.title}" class="card">
                <a th:href="@{|/event/${event.id}|}">
                    <img id="main-img" th:src="${event.picture}" class="card-img-top"></a>
            </div>
        </div>
    </list>
</div>
<ul id="pager" class="pagination justify-content-center">
    <li th:each="pageNumber : ${pageNumbers}" class="page-item"><a class="page-link" th:href="@{/(size=${events.size}, page=${pageNumber})}" th:text="${pageNumber}"></a></li>
</ul>
</div>
<div th:replace="fragments/footer"/>
</body>
</html>